
* {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
  overflow-x: hidden;  
}
video{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: -1;
}
.principal_principal_body {
  /* background-image: url('../src/assets/XimePhoto2.gif');  */
  /* background-image: url('../src/assets/confetti_fondo.gif'); */
  background-image: url('../src/assets/XimeFondo.gif'); 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.informacionCorona{
  display: flex;
  flex-direction: column;
  text-align: center;  
  width: 80%;
  height: 85%;
  border-radius: 0.5rem;  
  font-style: italic;    
  overflow: hidden;
  position: relative;
  /* border: 4px solid #ad8a1f; */
  
  outline-offset: -20px;
}
.informacionCorona_h1{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2rem, 3vw, 4rem); 
  color: #F9F3F1;
  width: 100%;
  height: 25%;
  margin-top: 2rem;
}
.informacionCorona_h2{   
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(4rem, 10vw, 2rem); 
  /* color: #795300; */
  color: #F9F3F1;
  width: 100%;
  height: 40%;  
}
.invitacion_principal_body{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /* Alinea horizontalmente al centro */
  align-items: center; /* Alinea verticalmente al centro */
  flex-direction: row;
  box-sizing: border-box;
  padding: 10px;
  background-color: #2B282D;  
}
.invitacion_texto{
  width: 50%;
  height: 70%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  box-sizing: border-box;
  padding: 10px;

}
.invitacion_texto_contenido{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.invitacion_texto_contenido_h1{
  width: 100%;
  height: 15%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2.5vw, 2rem); 
  color: #fff;
}
.invitacion_texto_contenido_h2{
  width: 100%;
  height: 50%;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2.5vw, 2rem); 
  color: #fff;
  margin-top: 1rem;
}
.invitacion_texto_contenido_h3{
  width: 100%;
  height: 35%;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: regular;
  font-size: clamp(2.2rem, 5vw, 4rem); 
  color: #795300;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center;
}
.invitacion_foto{
  width: 50%;
  height: 70%;
  background-image: url('../src/assets/XimePhoto1.jpeg');
  background-size: cover;
  background-position: center;
  /* border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; */
  border-radius: 0.5rem;
}
.presentacion_principal{
  width: 100%;
  height: 100%;
  background-color: #F9F3F1;
  box-sizing: border-box;
  padding: 1rem;
}
.presentacion_principal_contenido{
  width: 100%;
  height: 100%;
  border: 3px solid #795300;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 1rem;
}
.presentacion_principal_h1{
  width: 100%;
  height: 33%;
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: regular;
  font-size: clamp(2.2rem, 8vw, 6rem); 
  overflow: hidden;
}
.presentacion_principal_h2{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 33%;
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: regular;
  font-size: clamp(2.2rem, 8vw, 6rem); 
  overflow: hidden;
}
.presentacion_principal_h3{
  width: 100%;
  height: 33%;
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: regular;
  font-size: clamp(2.2rem, 8vw, 6rem); 
  overflow: hidden;
}
.cronometro_principal_body{
  width: 100%;
  height: 100%;
  background-color: #2B282D;
  box-sizing: border-box;
  padding: 1rem;
}
.cronometro_principal_content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cronometro_principal_mensaje{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 10vw, 2rem); 
  color: #ad8a1f;
}
.cronometro_principal_img_calendario{
  width: 100%;
  height: 80%;
  
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  /* gap: 1px; */
}
.cronometro_principal_img{
  width: 100%;
  height: 100%;
  background-color: red;
  background-image: url('../src/assets/XimePhoto2.jpeg');
  border-radius: 0.5rem;  
  background-size: cover;
  text-align: center;  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2.5vw, 2rem);  
  color: #F9F3F1;
}
.cronometro_principal_calendario{
  width: 80%;
  height: 100%;
  background-image: url('../src/assets/XimeCalendario.png');
  border-radius: 0.5rem;  
  background-size: contain;
}
.cronometro_principal_cronometro{
  width: 100%;
  height: 10%;
  text-align: center;  
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1rem, 2.5vw, 2rem);  
  color: #F9F3F1;
  display: flex;
  flex-direction: column;
}
.place_principal_body{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 2rem;
}
.place_principal_content{
  width: 100%;
  height: 100%;
  /* border: 2px solid #795300; */
  box-sizing: border-box;
}
.principal_title{
  width: 100%;
  height: 20%;
  text-align: center;
  display: flex; /* Utilizamos flexbox para centrar verticalmente */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
  overflow: hidden;
}
.principal_title_content{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.place_title{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(4rem, 10vw, 6rem); 
  color: #000000;
  margin-top: 1.5rem;
}
.principal_img{
  width: 100%;
  height: 40%;
  /* background-image: url('../src/assets/XimeLugar.png');   */
  background-image: url('../src/assets/XimePlace.jpeg');  
  background-size: cover;
  border-radius: 0.5rem;
}
.principal_info{
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: #F9F3F1;
}
.principal_info_texto{
  width: 100%;
  height:  100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  padding: 3rem;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 5vw, 4rem); 
  color: #000000;
  border: 2px solid #795300;
  border-radius: 0.5rem;
  align-items: center;
}
.principal_info_boton{
  width: 100%;
  height:  20%;
  background-color: aqua;
}
.principal_info_button{
  width: 8rem;
  height: 7rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  box-sizing: border-box;
  background-color: #795300;
}

.vestimentaRegalo_principal_body{
  width: 100%;
  height: 100%;
  background-color: #F9F3F1;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.principal_content{
  width: 100%;
  height: 1000%;
  display: flex;
  flex-direction: column;
}
.principal_dresscode{
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  align-content: center;  
}
.principal_dresscode_h1{
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 5vw, 4rem); 
  color: #000000;
}
.principal_dresscode_p{
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.3rem, 3vw, 4rem); 
  color: #000000;
}
.principal_images{
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.principal_regalo{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.principal_regalo_h1{
  width: 100%;
  height: 25%;
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 5vw, 4rem); 
  color: #000000;
}
.principal_regalo_p{
  width: 100%;
  height: 60%;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.3rem, 2vw, 4rem); 
  color: #000000;
}
.regalo_img{  
  width: 35%;
  height: 26%;
}




@media (width <=1000px) {
  .cronometro_principal_img_calendario {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }

  .cronometro_principal_calendario {
    display: none;
  }

  .cronometro_principal_faltan {
    overflow: hidden;
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: clamp(1.5rem, 0.5vw, 1rem);
    color: #ad8a1f;
  }

}
@media (width > 1000px) {
  .cronometro_principal_fecha{
    display: none;
  }
  .cronometro_principal_cronometro{
    display: none;
  }
  .cronometro_principal_img{
    background-position: 0% 30%;
  }
  .principal_img{
    height: 60%;
    background-position: 0% 90%;
  }
  .principal_images{
    max-width: 40%;
    display: flex;
    flex-direction: row; 
  }
  .regalo_img{  
    width: 15%;
    height: 46%;
  }
}